<div class="w3-container w3-padding-32" id="location" >
    <h4>Марки автомобилей</h4>
    <button 
    class=""
    routerLink="/marks/new"
    >
      Добавить марку
    </button>
</div>

<div 
    class="row" 
    *ngIf ="categories$ | async as categories; else loader"
>
    <div class="col s12">
        <div class="collection" *ngIf="categories.length !== 0; else empty ">
            <a 
            *ngFor = "let category of categories"
            [routerLink]= "['/marks', category._id]"
            class="collection-item"
            >
            {{category.name}}
            </a>
        </div>
        <ng-template #empty>
                <div class="center">
                    Нет ни одной добавленной марки
                </div>
        </ng-template>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
