
<div class="about" >
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">Добро пожаловать на Автосалон Yarosa и Nikitosa.</h2>
          <div class="section_subtitle"><p>Это наш совместный проэкт, и выглядит он достойно!</p></div>
        </div>
      </div>
    </div>
    <div class="row about_row">
      
      <!-- About Item -->
      <div class="col-lg-4 about_col about_col_left">
        <div class="about_item">
          <div class="about_item_image"><img src=".src/assets/web/images/about_1.jpg" alt=""></div>
          <div class="about_item_title"><a href="#">Наша история</a></div>
          <div class="about_item_text">
            <p>На третьем курсе нам начали преподавать JS, и понеслось...</p>
          </div>
        </div>
      </div>

      <!-- About Item -->
      <div class="col-lg-4 about_col about_col_middle">
        <div class="about_item">
          <div class="about_item_image"><img src="..src/assets/web/images/about_2.jpg" alt=""></div>
          <div class="about_item_title"><a href="#">Наша миссия</a></div>
          <div class="about_item_text">
            <p>Данный сайт поможет выбрать подходящую марку автомобиля, а так же записаться на тест-драйв. </p>
          </div>
        </div>
      </div>

      <!-- About Item -->
      <div class="col-lg-4 about_col about_col_right">
        <div class="about_item">
          <div class="about_item_image"><img src="..src/assets/web/images/about_3.jpg" alt=""></div>
          <div class="about_item_title"><a href="#">Наши пожелания</a></div>
          <div class="about_item_text">
            <p>Yaros и Nikitos очень сильно постарались. Приятного серфинга!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>