<!---<body>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<div class = 'header'>
    <div class ="navbar">
      <div class="logo">
          <a class ="nav-link" routerLink="/cars" routerLinkActive="active" title="На главную" >
             AutoShowIs
          </a>
      </div>
      <div class='navbar-menu'>
        <ul>
        <li><a class ="nav-link" routerLink="/cars" routerLinkActive="active">МОДЕЛИ</a></li>
        <li><a class ="nav-link" routerLink="/cars" routerLinkActive="active">ТЕСТ-ДРАЙВ</a></li>
        <li><a class ="nav-link" routerLink="/cars" routerLinkActive="active">ПРО САЛОН</a></li>
      </ul>
      </div>
    </div>
    <div class="top-auth">
      <p><a routerLink="/cars" routerLinkActive="active" title='Зарегистрироватсья' >Регистрация</a></p>
      <p><a routerLink="/cars" routerLinkActive="active" title='Войти' >Войти</a></p>
    </div>
</div>
<footer>
    Created by Yaros and Shapa &copy; 2018 <br>
    AutoShowIs.com.ua
</footer>
</body>--->
<router-outlet></router-outlet>
